@import url(http://fonts.googleapis.com/css?family=Marcellus);

a {
text-decoration:none; color:inherit;
}
body,html {
width:100%; font:normal 16px 'Marcellus'; color:#f0f0f0;
}
body {
background:rgb(84,92,88); border-top:3px solid rgb(60,63,63);
}

#wrapper {
width:900px; margin:0 auto 50px auto;
}
	#canvas-wrapper {
	width:750px; padding:20px 21px 21px 20px; min-height:30px; background:rgba(72,78,75,0.5); margin:50px auto 0 auto;
	border:1px solid rgb(47,52,50); border-radius:2px; position:relative;
	border-bottom-color:rgba(255,255,255,0.25); border-right-color:rgba(255,255,255,0.25);
	box-shadow:inset 1px 1px 4px rgba(47,52,50,0.7);
	-moz-box-shadow:inset 1px 1px 4px rgba(47,52,50,0.7);
	-webkit-box-shadow:inset 1px 1px 4px rgba(47,52,50,0.7);
	-o-box-shadow:inset 1px 1px 4px rgba(47,52,50,0.7);
	-ms-box-shadow:inset 1px 1px 4px rgba(47,52,50,0.7);
	}
		#canvas {
		width:750px; height:450px; background-color:rgba(0,0,0,1); margin:0 auto 0 auto; display:block; position:relative;
		border-width:1px; border-style:solid; border-color:rgb(47,52,50) rgb(107,119,115) rgb(107,119,115) rgb(47,52,50); border-radius:3px;
		box-shadow:inset 0px 0px 50px rgb(23,25,24);
		-moz-box-shadow:inset 0px 0px 50px rgb(23,25,24);
		-webkit-box-shadow:inset 0px 0px 50px rgb(23,25,24);
		-o-box-shadow:inset 0px 0px 50px rgb(23,25,24);
		-ms-box-shadow:inset 0px 0px 50px rgb(23,25,24);
		}
.menu {
position:absolute; top:50%; left:50%; width:400px; height:210px; background:rgba(59,84,59,0.97); z-index:999;
margin:-85px 0 0 -200px; border-radius:4px; border:1px solid rgba(23,25,24,0.5);
border-right:1px solid rgba(107,119,115,0.2); border-bottom:1px solid rgba(107,119,115,0.2);
box-shadow:inset 0 0 10px rgba(23,25,24,0.9); 
-moz-box-shadow:inset 0 0 10px rgba(23,25,24,0.9);
-webkit-box-shadow:inset 0 0 10px rgba(23,25,24,0.9);
-o-box-shadow:inset 0 0 10px rgba(23,25,24,0.9);
-ms-box-shadow:inset 0 0 10px rgba(23,25,24,0.9);
}
	.menu ul {
	width:300px; min-height:100px; display:block; margin:0 auto 0 auto;
	}
		.menu ul li {
		width:100%; min-height:20px; padding:12px 0 12px 0; display:block; text-align:center; color:rgb(102,144,102);
		border-width:1px 0 1px 0; border-style:solid; border-color:rgba(92,129,92,0.4) red rgba(28,39,28,0.5) red;
		text-shadow:0 -1px 0 rgb(17,24,17); position:relative;
		}
		.menu ul li:hover {
		background:rgba(171,196,171,0.08); cursor:default;
		}
		.menu ul li.text:hover {
		background:transparent;
		}
			.menu ul li input {
			width:100%; height:98%; position:absolute; left:0; top:0; background:transparent; border:0; padding:0; text-align:center; font:inherit; color:rgb(159,168,166); text-shadow:inherit;
			}
	.menu-header {
	width:105%; height:32px; background:rgb(91,129,91); border:1px solid rgb(81,114,81); position:absolute; padding:8px 0 0 0;
	border-left-color:rgba(49,69,49,0.2); border-top-color:rgba(49,69,49,0.2); border-width:1px 1px 1px 1px; color:rgb(49,69,49);
	box-shadow:0 0 10px rgba(23,25,24,0.59); top:-36px; left:-11px; border-radius:1px; font-size:1.23em; text-shadow:0 1px 0 rgb(116,156,116);
	-moz-box-shadow:0 0 10px rgba(23,25,24,0.59);
	-o-box-shadow:0 0 10px rgba(23,25,24,0.59);
	-webkit-box-shadow:0 0 10px rgba(23,25,24,0.59);
	-ms-box-shadow:0 0 10px rgba(23,25,24,0.59);
	}
		.menu-header p {
		width:100%; text-align:center;
		}
	.menu-header:before {
	content:' '; width:0; height:0; position:absolute; background:transparent; top:41px; left:-1px;
	border-width:5px; border-style:solid; border-color:rgb(115,156,115) rgb(115,156,115) transparent transparent;
	}
	.menu-header:after {
	content:' '; width:0; height:0; position:absolute; background:transparent; top:41px; right:0;
	border-width:5px; border-style:solid; border-color:rgb(115,156,115) transparent transparent rgb(115,156,115);
	}
.note {
width:530px; min-height:10px; background:rgb(192,219,174); margin:70px auto 80px auto; position:relative; border-width:1px; border-style:solid;
border-color:rgb(111,165,74) rgb(111,165,74) rgb(223,236,212) rgb(223,236,212); border-radius:1px; text-align:center;
box-shadow:0 0 10px rgba(23,25,24,0.59); padding:80px 10px 10px 10px; color:rgb(69,101,45); text-shadow:0 1px 0 white;
	-moz-box-shadow:0 0 10px rgba(23,25,24,0.59);
	-o-box-shadow:0 0 10px rgba(23,25,24,0.59);
	-webkit-box-shadow:0 0 10px rgba(23,25,24,0.59);
	-ms-box-shadow:0 0 10px rgba(23,25,24,0.59);
}
	.note .tab {
	position:absolute; right:-17px; bottom:-1px; content:' '; width:0; height:0;
	border-style:solid; border-width:8px; border-color:rgb(45,65,29) transparent transparent rgb(45,65,29);
	}
	.note p {
	margin:0 0 10px 0;
	}
	.note b {
	font-style:normal; font-weight:normal; padding:1px 6px 2px 6px; background:rgb(117,171,77); border-radius:4px;
	border-bottom:1px solid rgb(69,101,45);
	}
	.note-title {
	width:576px; min-height:40px; background:rgb(107,153,67); margin:50px auto 0 auto; position:absolute; border-top:1px solid rgba(81,118,53,0.6); border-radius:1px;
	top:-29px; left:-13px; text-align:center; font-size:1.75em; color:rgb(69,101,45); text-shadow:0 1px 0 rgb(130,182,92);
	box-shadow:0 0 10px rgba(23,25,24,0.59);
	-moz-box-shadow:0 0 10px rgba(23,25,24,0.59);
	-o-box-shadow:0 0 10px rgba(23,25,24,0.59);
	-webkit-box-shadow:0 0 10px rgba(23,25,24,0.59);
	-ms-box-shadow:0 0 10px rgba(23,25,24,0.59);
	}
		.note-title:before {
		position:absolute; left:0; content:' '; width:0; height:0; top:-13px;
		border-style:solid; border-width:6px; border-color:transparent rgb(45,65,29) rgb(45,65,29) transparent;
		}
		.note-title:after {
		position:absolute; right:0; content:' '; width:0; height:0; top:-13px;
		border-style:solid; border-width:6px; border-color:transparent transparent rgb(45,65,29) rgb(45,65,29);
		}
.note-dark {
background:rgba(72,78,75,0.5); border-color:rgb(47,52,50) rgba(107,119,115,0.35) rgba(107,119,115,0.35) rgb(47,52,50);
color:rgb(119,132,128); text-shadow:0 -1px 0 rgb(23,26,24); font-size:0.8em;
}
.vert-shader-1,.vert-shader-2 {
width:1px; height:100%; position:absolute; background:rgb(47,52,50); top:0;
}
.vert-shader-2 {
background:rgba(255,255,255,0.25);
}
.hor-shader-1,.hor-shader-2 {
width:100%; height:1px; position:absolute; background:rgb(47,52,50); left:0;
}
.hor-shader-2 {
background:rgba(255,255,255,0.25);
}
.left {
left:0;
}
.right {
right:0;
}
.top {
top:0;
}
.bottom {
bottom:0;
}