body,html {
width:100%;	
}
body {
font:normal 16px 'carto',sans-serif; color:#454545; background:url(i/grey.png);	
}

#mainDialogWindow {
width:180px; min-height:10px; z-index:999; position:absolute; left:50%;
margin:0 0 0 -90px;
}
#mainDialogWindow input {
width:100%; padding:5px; background:rgba(255,255,255,0.8); border-radius:2px;
border:0; border-bottom:1px solid #cecece; font:inherit; -moz-border-radius:2px;
-webkit-border-radius:2px; -o-border-radius:2px;
}
#content {
width:100%; margin:40px 0 0; position:relative;
}
#header {
width:100%; margin:40px 0 10px;	
}
#logo {
position:relative; left:0; top:0;
}
#messages {
width:900px; margin:0 auto; max-height:300px; position:relative;
} 
#messages a {
color:#4876FF;
}
#messageBox {
display:block; max-height:480px; overflow-y:auto;
}
#overlay {
position:absolute; width:100%; height:100%; background:rgba(0,0,0,0.7); z-index:5; top:0; left:0;
}
#text {
width:100%; padding:20px 0;
}
#text input,.input {
width:100%; border-style:solid; border-width:0 0 1px; border-color:#dedede; font:inherit; color:inherit;
background:transparent; padding:0 0 20px;
}

.adminColor {
color:#CC9900;
}
.adminCrown {
background:url(i/sprite.png) no-repeat -48px 0; min-width:21px; height:11px; padding-left:19px;
}
.close-button {
width:24px; height:24px; position:absolute; background:url(i/sprite.png) no-repeat 0 0; display:block;
}
.close-button:active {
background:url(i/sprite.png) no-repeat -24px 0;
}
.hidden {
display:none;
}
.html_error {
color:#cd3700;
}
.item {
width:100%; padding:20px 0 20px; border-bottom:1px solid #e0e0e0;
}
.item ul {
display:block; width:100%;
} .item ul li {
display:inline; width:100px;
}
.link:hover {
cursor:pointer; color:#b0b0b0;
}
.link_identifier {
color:#104E8B;
}
.no-border {
border:0;
}
.posted-image {
max-height:600px; width:600px; border-color:#ececec #cecece #cecece #ececec; border-width:1px; border-style:solid; border-radius:3px;
position:absolute; left:50%; top:50%; margin:-180px 0 0 -300px; background:rgba(51,51,51,0.7);
display:none; text-align:center; padding:5px;
}
.posted-image .close-button {
left:-10px; top:-10px;
}
.posted-image img {
max-width:100%; border-bottom:1px solid #858585;
border-radius:2px;
}
.posted-image object {
width:100%; height:350px;
}
.posted-link {
color:#104E8B;
} .posted-link:hover {
cursor:pointer; color:#4876FF;
}
.right {
float:right;
}

p {
font:inherit; color:inherit;	
}
ul.homeguests {
display:block; width:100%;
}
ul.homeguests li {
display:inline; width:100px; padding:0 10px 0;
}

/*fonts*/
.centered {
text-align:center;
}
.heading0 {
font-size:0.75em;
}
.heading1 {
font-size:0.94em;
}
.heading2 {
font-size:1.1em;
}
.title {
font-size:2em; text-align:center; margin:10px;
}
/*colors*/
.grey1 {
color:#c0c0c0;
}
.grey2 {
color:#b0b0b0;
}
.light_blue {
color:#008AB8;
}
.red {
color:#cd3700;
}

/*chat_color_properties*/
blue {
color:#0000EE;
}
green {
color:#00CD00;
}
grey2 {
color:#999;
}
lightblue {
color:#1BC6E0;
}
orange {
color:#E6B426;
}
pink {
color:#DB7093;
}
purple {
color:#D15FEE;
}
red {
color:#cd3700;
}
yellow {
color:#D9D919;
}
/*chat_font_families*/
potter {
font-family:'potter';
}
oned {
font-family:'onedirection';
}
/*chat_font_properties*/
big {
font-size:2.8em;
}
small {
font-size:0.7em;
}