body {
background:url(../img/bg.png) no-repeat 0 0 fixed; background-size:cover;
}
a.block {
position:absolute; left:0; top:0; width:100%; height:100%; display:block; background:;
}
p.intro-top {
margin-bottom:20px;
}

.container {
margin: 0 auto;max-width: 960px;
}
	.container#main-container {
	background:rgba(255,255,255,0.67);
	}

.button {
cursor:pointer; color:white;
}
	.button-active {
	background:#428bca; border-color:#357ebd;
	}
		.button-active:hover {
		background:#357ebd;
		}
		.button-active:active {
		box-shadow:inset 0 2px 1px rgba(0,0,0,0.1);
		}
	.button-active2 {
	background:#5cb85c; border-color:#4cae4c;
	}
		.button-active2:hover {
		background:rgba(68,156,68,0.9);
		}
.jumbotron:first-child {
background:url(../img/stem_logo.png) no-repeat center center; background-size:74%; min-height:311px; position:relative; z-index:99;
}
	.pic {
	position:absolute; height:242px; width:190px;
	}

	.pic-left {
	left:-90px; background:url(../img/thumbs/6.jpg) no-repeat 0 0; background-size:100%;
	transform:rotate(-6deg); border:5px solid rgba(228,230,229,0.9);
	-ms-transform:rotate(-6deg); /* IE 9 */
	-webkit-transform:rotate(-6deg);
	-moz-transform:rotate(-6deg);
	}
	.pic-right {
	right:-90px; background:url(../img/thumbs/7.jpg) no-repeat 0 0; background-size:100%;
	transform:rotate(6deg); border:5px solid rgba(228,230,229,0.9); height:200px;
	-ms-transform:rotate(6deg); /* IE 9 */
	-webkit-transform:rotate(6deg);
	-moz-transform:rotate(6deg);
	}
.carousel-control {
cursor:pointer;
}
.register-button {
text-align:center; position:relative;
}
.list-group {

}
	.list-group-item {
	background:rgba(255,255,255,0.65);
	}