html,body {
width:100%; height:100%; font:normal 12px 'carto',sans-serif; color:#888; background:url(i/white_bedsheet.png) repeat;
}
#left {
position:fixed; top:0; left:0; width:230px; height:100%; border-right:1px solid #d5d5d5; background:#f0f0f0;
}
	#left-top {
	width:100%; float:left; min-height:80px;
	}
		#logo {
		width:135px; height:30px; margin:15px auto 0 auto; background:url(i/sprite.png) no-repeat 0 0;
		}
	#left-body {
	width:100%; float:left; min-height:100px;
	}
		#left-body ul {
		display:block; width:90%; min-height:20px; margin:50px auto 0 auto; border-right:1px solid #d3d3d3;
		background:#dedede;
		}
		#left-body li {
		display:block; width:100%: height:10px; border-bottom:1px solid #d3d3d3; padding:7px 0 7px 0;
		text-align:center; cursor:pointer; border-top:1px solid #f0f0f0;
		}
			#left-body li:hover {
			background:#d9d9d9;
			}
			.menu-active {
				background:#d9d9d9;
			}
#right {
float:left; width:950px; margin:0 0 0 230px; min-height:100px; border-right:1px solid #dedede; position:relative;
}
	.container {
	margin:0 auto 0 auto; background:; padding:15px; border-bottom:1px solid #dedede; position:relative;
	}
		.box {
		width:850px; background:white; margin:40px auto 0 auto; padding:10px; border:1px solid #dedede;
		border-left-color:#f3f3f3; border-top-color:#f3f3f3; position:relative;
		}
			.bar {
			margin-top:0; background:#f0f0f0; border-top-color:#f8f8f8; min-height:5px; position:relative;
			}



.rectangle {
width:30px; height:120px; border:1px solid #008AB8; position:absolute; left:50%; margin-left:-15px;
background:url(i/circle.png) no-repeat;
}

#footer {
position:absolute; left:0; bottom:10px; width:100%; text-align:center;
}

#alert {
width:100%; margin:0 auto 0 auto; min-height:5px; padding:10px 0 10px; 0; background:#FFECE5 url(i/absurdidad.png) repeat;
position:relative; text-align:center; border-right:1px solid #FFECE5;
}

.shade {
float:left; padding:3px; min-width:15px; height:14px; background:#d3d3d3; margin:3px; text-align:center; cursor:pointer;
border:1px solid #c0c0c0; border-top:0; border-left:0;
} .shade:active {
	background:#dedede; border:1px solid #c0c0c0; border-right:0; border-bottom:0;
}
input.shade {
border:1px solid #c0c0c0; border-top:0; border-left:0; cursor:default; font:inherit; color:inherit; width:15px;
} input.shade:focus {
	background:#dedede; border:1px solid #c0c0c0; border-right:0; border-bottom:0;
}

.border-vertical-right {
width:1px; height:100%; position:absolute; right:0; top:0; background:#f9f9f9;
}
.border-vertical-left {
width:1px; height:100%; position:absolute; left:0; top:0; background:#f9f9f9;
}
.border-horizontal-bottom {
width:100%; height:1px; position:absolute; left:0; bottom:0; background:#f5f5f5;
}

.title {
font-size:24px;
}
.tagline {
font-size:17px; color:#b5b5b5; margin:0 0 10px; 0;
}
.hidden {
display:none;
}
.bold {
color:#b5b5b5;
}
.block {
display:block;
}
.changelog {
margin:0 0 0 10px; list-style:circle inside; display:block;
}
.link {
cursor:pointer; color:#008AB8;
} .link:hover {
	text-decoration:underline;
}
.button {
min-width:20px; padding:5px; border:1px solid #d3d3d3; background:#dedede; font-size:12px; position:absolute;
text-transform:uppercase; border-top-color:#dedede; border-left-color:#dedede; cursor:pointer;
} .button:active {
border:1px solid #d3d3d3; border-bottom-color:#dedede; border-right-color:#dedede; padding: 6px 4px 4px 6px; color:#aaa;
}
.code {
color:#008AB8;
}
.border-radius {
-webkit-border-radius:2px; -moz-border-radius:2px; -ms-border-radius:2px; border-radius:2px;
}
.contact_form_element {
	border:1px solid #d3d3d3; background:#e5e5e5; display:block; border-right-color:#eee; border-bottom-color:#eee;
	padding:5px; font-size:14px; color:#888; width:170px; margin:0 auto 0 auto;
}

a {
text-decoration:none;
} a:hover {
text-decoration:underline;
}